@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.App {
  text-align: center;
}

.info-cards {
  margin: auto;
  width: 80%;
}

.map-svg {
  margin: auto;
  width: 85%;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}

.tooltip-text1 {
  text-decoration: underline;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  user-select: none;
}
.tooltip-text2,
.tooltip-text3,
.tooltip-text4,
.tooltip-text5 {
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  user-select: none;
}

.updated-time,
.legend-tick,
.legend-text {
  font-size: 12px;
  user-select: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.linechart-svg {
  margin: auto;
  width: 90%;
}

.temp-pic {
  width: 90%;
  height: auto;
}

.x-axis,
.y-axis,
.y-axis2 {
  font-size: 12px;
  user-select: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.tooltip-date,
.tooltip-case,
.tooltip-death {
  font-size: 18px;
  user-select: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.axis-label {
  user-select: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.linechart-svg {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}

.line-title {
  font-size: 25px;
  user-select: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
.ask-hover {
  font-size: 25px;
  user-select: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
